import { z } from "zod";

export const {{CAMEL}}CreateSchema = z.object({
  {{#FIELDS}}
  {{field_name}}: {{zod_type_create}},
  {{/FIELDS}}
});

export const {{CAMEL}}ReadSchema = z.object({
  id: z.string().uuid(),
  {{#FIELDS}}
  {{field_name}}: {{zod_type_read}},
  {{/FIELDS}}
  user_id: z.string().uuid(),
  created_at: z.string(),
  updated_at: z.string(),
});

export const {{CAMEL}}UpdateSchema = z.object({
  {{#FIELDS}}
  {{field_name}}: {{zod_type_update}},
  {{/FIELDS}}
});

export type {{PASCAL}}Create = z.infer<typeof {{CAMEL}}CreateSchema>;
export type {{PASCAL}}Read = z.infer<typeof {{CAMEL}}ReadSchema>;
export type {{PASCAL}}Update = z.infer<typeof {{CAMEL}}UpdateSchema>;
