import { createService } from "./createService";
import { {{CAMEL}}ReadSchema } from "../../schemas/{{SNAKE}}";

export const {{CAMEL_PLURAL}}Service = createService("/{{KEBAB_PLURAL}}", {{CAMEL}}ReadSchema);
